---
title: نسخه‌ها
---
<!doctype html>
<html dir="rtl">
<head>
	<title>نسخه‌های فارسی مای بی‌بی</title>
	<meta charset="utf-8">
	<link href="css/style.css" type="text/css" rel="stylesheet">
</head>
<body>
	<div id="page">
		<h1>نسخه‌های فارسی مای بی‌بی</h1>
		<ul>
			{% for version in site.versions %}
				<li> نسخه‌ی {{ version.name }}
					{% if version.latest %}
						<span class="latest">آخرین نسخه</span>
					{% endif %}
					<ul>
						<li><a href="{{ version.code }}/lang.zip" target="_blank">فارسی‌ساز</a></li>
						<li><a href="{{ version.code }}/mybb.zip" target="_blank">نسخه‌ی کامل به همراه فارسی‌ساز</a></li>
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>